.container{
	border:1px solid #000;
	padding-bottom: 30px;
	width: 50%;
	margin: 0 auto;
	box-shadow: 5px 5px 2px #a5c6d7;
}
h3{
	color: #222f3a;
}
.text-center{
	text-align: center;
}
.margin-top{
	margin-top: 10px;
}
.login{
	background-color: #4CAF50;
	padding: 7px 12px;
	border-radius: 2px;
	border:none;
	color: #fff;
	font-size: 15px;
}
input{
	border:none;
	border-bottom:1px solid #a5c6d7 !important;
}


 
